<div id="<%= dom_id date_range %>">
  <p>
    <strong>User:</strong>
    <%= date_range.user_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= date_range.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= date_range.end_date %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= date_range.created_by %>
  </p>

</div>
